*{
    margin: 0;
    padding: 0;
}
body{
    background: pink;
    width: 100%;
    height: 100vh;

}

.birthday{
    position: relative;
    width: 300px;
    height: 395px;
    border: 10px solid #ef5050;
    margin: 60px auto 0 auto;
    box-shadow: inset 10px 0px 15 px 0 px rgba(0,0,0,0.1);
    background-image: linear-gradient(to bottom,
    rgba(255,255,255,0),rgba(255,255,255,1.7)),url(OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    .text{
        width:80% ;
        height: 45%;
        margin: auto;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        >p{
            font-size: 1.1em;
            color: black;
            list-style: 1.4;
            font-style: italic;
            margin: 30px auto 0 auto;
        }
        .title{
            font-size: 1.5em;
            margin: 60px auto 60px auto;
        }
    }
   
}

.outer{
  position: absolute;  
  width: 100%;
  height: 100%;
  margin: -10px 0 0 -10px;
  border: 10px solid #ef5050;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition:all 0.8s ease-in-out;

        img{
            box-shadow: 0px 6px 11px 7px rgba(0,0,0,0.22);
            border-radius: 5px;
        }
}


.inner{
    position: absolute;
    width: 100%;
    max-height: 100%;
    border: 10px solid #ef5050;
    margin: -10px 0px 0 -10px;
    backface-visibility: visible;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
    transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition:all 0.8s ease-in-out;
  overflow: hidden;

  img{
    transform: rotateY(170deg);
  }
}

.birthday:hover{
    .outer{
        transform: perspective(800px) rotateY(-170deg);
    }
    .inner{
        transform: perspective(800px) rotateY(-170deg);
        box-shadow: 7px 0 5px 0 rgba(0,0,0,0.3);
        inset:  2px 0px 15px 0px rgba(0,0,0,0.1);
    }
}

